.Nav{
    z-index:99;
    /* background:transparent; */

}

.nav_cont{
    position:fixed;
    top:0;
    left:0;
    /* background:rgb(20,20,20); */
    color:white;
    /* width:300px; */
    padding:0;
    width:100vh;
    height:100vh;
    transition:0.2s;
    z-index:99;
    display:flex;
}
.menu_btn{
    color:white;
    background:transparent;
    border:none;
    outline:none;
    position:fixed;
    top:7px;
    left:10px;
    padding: 5px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 50%;
    z-index: 100;
}

.nav_items{
    padding-top:60px;
    width:300px;
    height:100vh;
    background-color: rgb(20, 20,20);
}

.nav_items ul a{
    display:flex;
    width:inherit;
    align-items:center;
    transition: 0.2s ease;
    font-size:22px;
    transform: translateX(-25px)
}

.nav_items ul a:hover{
transform: translateX(-15px);
}

.nav_items ul li {
    margin:5px;
    margin-left:10px;

}
.nav_open{
    left:0;
}

.nav_close{
    left:-100vh;
}

.close_nav{
    height:100vh;
    width: calc(100vh - 275px);
}