.footer{
    background: rgba(20,20,20);
    padding: 50px 0 20px 0;
}
.footer_col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
}


.footer_col img:hover{
    transition: .3s ease;
    transform: scale(1.05); 
}

#footer_copyright {
display: flex;
justify-content:center;

}

.footer_column{
    display:flex;
    width:100vw;
    justify-content:space-around
}

.imgLogo{
    height:75px;
    width:75px;
}

@media(max-width: 700px){
    /* .footer_column{
        flex-direction:column;
    } */
    .footer_col{
        margin: 15px 0 0 15px;
    }
}